{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/article/css/articles.css">
{% endblock %}

{% block body %}
<div id="create_article">
    {% if editMode %}
    <h1>Modification du commentaire</h1>
    {% else %}
    <h1>Création d'un commentaire</h1>
    {% endif %}
    {{ form_start(formComment) }}


    <div class="form-group">
        <label for="">Contenu</label><br>
        {{ form_errors(formComment.content) }}
        {{ form_widget(formComment.content, {'attr': {'placeholder': "Contenu du commentaire"}}) }}
    </div>

    <button type="submit">
        {% if editMode %}
        Enregistrer
        {% else %}
        Ajouter un commentaire
        {% endif %}
    </button>

    {{ form_end(formComment) }}
</div>
{% endblock %}