
    {% extends 'base.html.twig' %}
    

    {% block body %}
        <div id="cadre">
            <div class="articles">test</div>
            <div class="articles">test</div>
            <div class="articles">test</div>
            <div class="articles">test</div>
        </div>

    {% endblock %}