{% extends "base.html.twig" %}

{% block body %}

    <main>
        <!-- Container du Tchat Forum -->
        <div class="container_tchat">
            <div class="bandeau_tchat">TCHAT</div>
            <div class="onglet_tchat">
                <div class="onglet_tchat">
                    <p>Général</p>
                    <p>Rse</p>
                    <p>Emploie</p>
                    <p>Me former</p>
                    <p>Mécenat</p>
                    <p>Partenaire</p>
                </div>
            </div>


            <!-- Tchat / Utilisateurs connectées -->
            <div class="container_dialogue_users">
                    <div class="tchat_conversation">
                            <input type="text" autofocus>
                
                            </div>
            <div class="tchat_user_position">
                <div class="tchat_user_connected">
                    <div class="bandeau_tchat_user_connected">
                        <p>Utilisateurs</p>
                    </div>
                </div>
            </div>

        </div>
            <!-- Tchat / Utilisateurs Close -->

        </div>
        <!-- Container du Tchat Forum Close -->
    </main>

    
    <div class="forum">
    <!-- Container du Forum -->
    <div class="forum_section">
        <!-- Grande section du Forum -->
        <section>
            <h2>Première catégorie</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
            <!-- <div class="sous_section_nav_right"><h3>1</h3><h3>1</h3><h3>LeBgDu13</h3></div> -->
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <!-- Grande section du Forum -->
        <section>
            <h2>Section</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <section>
            <!-- Grande section du Forum -->
            <h2>Section</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <!-- Grande section du Forum -->
        <section>
            <h2>Section</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <section>
            <!-- Grande section du Forum -->
            <h2>Section</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
        <!-- Grande section du Forum -->
        <section>
            <h2>Section</h2>
            <div class="section_nav_right">
                <h3>Topics</h3>
                <h3>Posts</h3>
                <h3>Last post</h3>
            </div>
        </section>
        <!-- Petite section du Forum -->
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
            <h2>Sous section</h2>
        </div>
        <div class="sous_section">
                <h2>Sous section</h2>
            </div>
    </div>


    <div class="post_it_section">
        <div class="post_it_bandeau"><h3>Dernier articles</h3></div>
        <div class="post_it"></div>
        <div class="sous_post_it"></div>
        <div class="sous_post_it"></div>
        <div class="sous_post_it"></div>
        <div class="sous_post_it"></div>
        <div class="sous_post_it"></div>

    </div>
</div>
{% endblock %}